<mat-toolbar color="primary" (click)= "goHome()" class="clickable">Tales Notes</mat-toolbar>
<div fxLayout="column" class="container">
    <mat-sidenav-container fxLayout="row" class="h100">
      <mat-sidenav #notesList mode="side" opened class="leftNav">
        <app-list-notes [notes]="getNotes()"> </app-list-notes>
      </mat-sidenav>
  
      <mat-sidenav-content class="sidenav-content w100 h100">
          <app-manage-note></app-manage-note>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  

